.menu {
  min-height: 82vh;
  width: 100%;
}
.item-card {
  color: #fffcf2;
  background-color: #252422;
}
.img {
  border-radius: 10px;
  width: 200px;
  height: 170px;
  background-position: center;
  background-size: cover;
}
.filter-section {
  border-radius: 10px;
  background-color: #252422;
}
.filter-list-item {
  //   text-align: center;
}
.filter-list-item:visited {
  color: #eb5e28;
  //   text-align: center;
  //   border-bottom: solid #fffcf2;
}
