.navbar {
  color: #fffcf2;
  background-color: #252422;
  position: fixed;
  height: 10vh;
}
ul {
  list-style-type: none;
}
li:hover {
  color: #eb5e28 !important;
  cursor: pointer;
}
.link {
  color: #fffcf2;
}
.link:hover {
  color: #eb5e28 !important;
  cursor: pointer;
}
.navbar-icon {
  width: 42px;
  height: 42px;
  background-size: cover;
  background-repeat: no-repeat;
}
