.navbar {
  color: #fffcf2;
  background-color: #252422;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
}
ul {
  list-style-type: none;
}
li:hover {
  color: #eb5e28 !important;
  cursor: pointer;
}
.link {
  color: #fffcf2;
}
.link:hover {
  color: #eb5e28 !important;
  cursor: pointer;
}
.navbar-icon {
  width: 42px;
  height: 42px;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-menu {
  font-size: 22px;
  color: #fffcf2;
  background-color: #252422;
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 1;
}
.li-hidden-menu {
  border-bottom: solid #ccc5b9;
}
